<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>post form</title>
</head>
<body>

    <!-- username, post-ID, song-title, song-artist, media-link, comment(user-input), timestamp -->

        <!-- logged username, respond function button -->

    <div class="container">
          <div class="row"> <!-- row begin -->
            <div class="col-md-2"></div>
            <div class="col-md-8 feed">
                <!-- CARD IS HERE -->
                <div class="card post-card">
                    <iframe src="https://www.youtube.com/embed/pbtZSOu95VY" width="auto" height="auto" frameborder="0"><a href="https://youtube-iframe.com"></a></iframe>
                        <div class="card-body">
                            <h3 class="card-title">Card title</h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Title: </strong>Peace Sells</li>
                            <li class="list-group-item"><strong>Artist: </strong>Megadeth</li>
                            <li class="list-group-item">Media link (maybe an href?)</li>
                        </ul>
                        <div class="card-body">
                            <p class="card-text">User's comment will go here</p>
                        </div>
                        <blockquote class="blockquote mb-0">
                            <footer class="blockquote-footer">
                                <span class="text-muted post-timestamp">timestamp</span>
                            </footer>
                        </blockquote>

                </div>
                <!-- CARD ENDS HERE -->
            </div>
            <div class="col-md-2"></div>
        </div> <!-- row end -->
      </div>


</body>
</html>